@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.login-title{
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    font-size: 40px;
    color: #090707;
    opacity: 1;
}

.login-box{
    margin-top: 5%;
    background-color: #FCFDFC;
    width: 700px;
    height: 700px;
}

.box2-login{
    background-color: white;
    background-repeat: no-repeat;
    background-size: 700px;
    width: 700px;
    height: 250px;
}


.form-login{
    margin-top: 60px;
    font-family: 'Kanit', sans-serif;

}


.img-login{
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.input-form{
    
    border-bottom-width: 0.5px;
    height: 40px;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
    box-shadow: none;
    background-color: #FCFDFC ;
    margin: 25px;
}

.input-font{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.btn-login{
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 25px;
    background-color: #6DB883;
    border-radius: 5px;
}

.register-link{
    margin: 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

