@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.img-size{
    width: 50px;
    height: 45px;
}

.admin-logo{
    font-size: 16px;
    margin-top: 16px;
    height: 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.admin-logo:hover{
    text-decoration: none;
    color: white;
}


.username {
    color: black;
    text-decoration: none;
    font-size: 17px;
}