@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.img-size {
    width: 50px;
    height: 45px;
}

.navbar-admin {
    background-color: white;
    margin-top: 0.5rem;
    padding: 5px;
}

.logo-img,
.logout-btn {
    padding: 5px;
}

.message {
    background-color: white;
    width: 1000px;
    height: auto;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px #E7E7E7;
}

.text-title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

div .btn-rol {
    color: white;
    background-color: #5aa4ed;
    padding: 5px;
}

.table-users {
    margin-top: 30px;
}

.table-title {
    padding: 10px;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.table-users-content {
    padding: 10px;
    margin-top: 30px;
}


.table-font {
    font-family: 'Montserrat', sans-serif;
}


.btn-delete {
    margin: 10px;
}

.btn-update {
    margin: 10px;
}

.btn-delete a {
    border-radius: 5px;
    padding: 5px;
    background-color: #E15151;
    text-decoration: none;
    color: white;
}

.btn-update a {
    border-radius: 5px;
    padding: 5px;
    background-color: #569962;
    text-decoration: none;
    color: white;
}

.btn-update a:hover {
    color: white;
    background-color: #477C51;
    text-decoration: none;
}

.btn-delete a:hover {
    color: white;
    background-color: #B43F3F;
    text-decoration: none;
}